@font-face {
   font-family: "Biennale";
   src: url(font/Biennale.ttf);
}

:root {
   --background: hsl(21, 92%, 95%);
   --on-background: hsl(21deg 92% 15%);

   --primary: hsl(22, 85%, 85%);
   --on-primary: hsl(22, 85%, 10%);
   --light-primary: hsla(22, 85%, 90%, 1);
   --lightnest-primary: hsl(22, 85%, 97%);

   --secondary: hsl(36, 68%, 33%);
   --on-secondary: hsl(36, 68%, 82%);

   --tertiary: hsl(112, 28%, 84%);
   --on-tertiary: hsl(112, 28%, 10%);
   --light-tertiary: hsl(112, 28%, 90%);
   --on-light-tertiary: hsl(112, 28%, 30%);
   --dark-tertiary: hsl(112, 28%, 40%);
   --on-dark-tertiary: hsl(112, 28%, 90%);
}

* {
   font-family: "Biennale";
   box-sizing: border-box;
   accent-color: var(--secondary);
   -webkit-tap-highlight-color: transparent;
}

::selection {
   background: var(--secondary);
   color: var(--on-secondary);
}

::-webkit-scrollbar-track {
   display: none;
}

::-webkit-scrollbar-button {
   display: none;
}

::-webkit-scrollbar {
   width: 4px;
   height: 4px;
   background: var(--light-primary);
}

::-webkit-scrollbar-thumb {
   background: #000;
}

svg,
img {
   max-width: 100%;
}

/*** layout ***/
body {
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
   background: var(--background);
   color: var(--on-background);
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background: var(--light-primary);
   color: var(--on-light-primary);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 8px;
   padding: 8px;
   box-shadow: 0 0 20px #0002;
   z-index: 10;
   user-select: none;
   transition: 0.3s;

   svg {
      width: 40px;
   }

   span {
      font-size: 28px;
      font-weight: 700;
   }


   &.hide {
      translate: 0 -100%;
      box-shadow: 0 0 0 #0002;
   }


}

#menuBtn {
   position: fixed;
   top: 8px;
   right: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1;
   width: 50px;
   font-size: 23px;
   border-radius: 16px;
   transition: 0.3s;
   padding: 8px;
   cursor: pointer;
   z-index: 11;
   margin: 0;
   border: none;
   background: none;

   span {
      display: block;
      width: 32px;
      height: 3px;
      background: #000;
      position: absolute;
      overflow: visible;
      transition: 0.3s;
      border-radius: 4px;

      &:nth-child(1) {
         transform: translate(0, -8px);
      }

      &:nth-child(3) {
         transform: translate(0, 8px);
      }

   }

   &:hover {
      span {
         &:nth-child(1) {
            transform: translate(0, -10px);
         }

         &:nth-child(3) {
            transform: translate(0, 10px);
         }
      }
   }

   &:active {
      scale: 0.9;
      background: var(--primary);
   }

   &.show {
      span {
         &:nth-child(1) {
            transform: translateY(0) rotateY(180deg) rotate(45deg);

         }

         &:nth-child(2) {
            transform: rotateY(90deg);
         }

         &:nth-child(3) {
            transform: translateY(0) rotateY(180deg) rotate((-45deg));
         }
      }
   }
}

#menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 0;
   background: var(--light-primary);
   overflow: hidden;
   transition: 0.3s;
   z-index: 10;

   &.show {
      padding-top: 70px;
      height: 100%;
   }
}

main {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden auto;
}

section {
   position: relative;
}

/*** Parts ***/
section.start-part {
   article {
      padding: 16px;
      background: var(--light-primary);
      color: var(--on-light-primary);

      .logo {
         text-align: center;
         width: 100%;
         padding: 42px 0;
         position: relative;
         z-index: 1;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         align-items: center;

         &>div {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            svg {
               width: 90%;
               max-width: 180px;
               fill: var(--primary)
            }

            svg.blob {
               scale: 1.7;
               translate: -10px 30px;
               position: absolute;
               fill: var(--lightnest-primary);
               z-index: 0;
            }

            svg:not(.blob),
            span {
               position: relative;
               z-index: 1;
               font-size: 32px;
               font-weight: 900;
               color: var(--secondary)
            }

            span {
               line-height: 0;
            }
         }

         &>h2 {

            font-size: 42px;
            font-weight: 900;

            @media (max-width: 481px) {
               display: none;

            }
         }
      }

      .text {
         h2 {
            font-size: 42px;
            font-weight: 900;

            @media (min-width: 480px) {
               display: none;
            }
         }

         p {
            text-align: justify;
         }
      }
   }

   .wave {
      width: 100%;

      svg {
         path {
            fill: var(--light-primary);
         }
      }
   }
}

section.part2 {
   .images {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      gap: 16px;
      padding: 16px;

      img {
         aspect-ratio: 1;
         width: 150px;
         mask-size: contain;
         mask-position: center;
         mask-repeat: no-repeat;

         &:nth-child(1) {
            mask-image: url(shape/hexagon.svg);
         }

         &:nth-child(2) {
            mask-image: url(shape/snow.svg);
         }

         &:nth-child(3) {
            mask-image: url(shape/leaf.svg);
         }
      }
   }

   .text {
      padding: 16px;

      h2 {
         font-size: 32px;
         font-weight: 900;
      }

      p {
         text-align: justify;
      }
   }
}

section.part3 {
   article {
      padding: 16px;
      background: var(--tertiary);
      color: var(--on-tertiary);

      h2 {
         font-size: 42px;
         font-weight: 900;
      }

      .images {
         &>* {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            padding: 24px 0;
            gap: 16px;

            .img {
               width: 100%;
               max-width: 300px;

               svg {
                  max-width: 300px;
                  z-index: 0;
                  scale: 1;
                  translate: -100px 50px;
                  position: absolute;
                  fill: var(--light-tertiary);
               }

               img {

                  position: relative;
                  z-index: 2;
                  border-radius: 24px;
               }
            }

            .text {
               max-width: 300px;
               position: relative;
               z-index: 2;
            }

            @media (min-width: 481px) {
               &:nth-child(even) {
                  flex-flow: row-reverse wrap;
               }
            }
         }
      }
   }

   .wave {
      width: 100%;

      svg {
         path {
            fill: var(--tertiary);
         }
      }
   }

   .waveflip {
      width: 100%;
      rotate: 180deg;

      svg {
         path {
            fill: var(--tertiary);
         }
      }
   }

   button.order-now {
      &:hover {
         color: var(--tertiary);
         box-shadow: inset 0 0 0 30px #000;
      }

      &:active {
         color: var(--on-dark-tertiary);
         box-shadow: inset 0 0 0 30px var(--dark-tertiary);
         scale: 0.9;
      }
   }
}

/*** UI ***/
button.order-now {
   border: none;
   box-shadow: inset 0 0 0 1px #000;
   outline: none;
   background: none;
   height: 60px;
   transition: 0.3s;
   border-radius: 30px;
   font-size: 18px;
   padding: 0 16px;

   &:hover {
      color: var(--primary);
      box-shadow: inset 0 0 0 30px #000;
   }

   &:active {
      color: var(--on-primary);
      box-shadow: inset 0 0 0 30px var(--primary);
      scale: 0.9;
   }
}

.fab {
   position: fixed;
   right: 16px;
   bottom: 23px;
   background: var(--tertiary);
   color: var(--on-tertiary);
   border: none;
   outline: none;
   box-shadow: 0 5px 10px #0003;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 64px;
   padding: 0 16px;
   height: 64px;
   z-index: 10;
   border-radius: 20px;
   font-size: 18px;
   transition: 0.3s;

   div {
      transition: 0.3s;
      overflow: hidden;
      max-width: 100px;
      white-space: nowrap;
   }

   .si-l {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      transition: 0.3s;
   }

   &.hide {
      background: var(--primary);
      color: var(--on-primary);

      div {
         max-width: 0;
      }

      .si-l {
         rotate: -90deg;
      }
   }

   &:hover {
      box-shadow: 0 20px 30px #0005;
   }

   &:active {
      scale: 0.9;
   }
}