@font-face {
   font-family: "Biennale";
   src: url(font/Biennale.ttf);
}

:host,
:root {
   --background: hsl(21, 92%, 95%);
   --on-background: hsl(21deg 92% 15%);
   --surface: hsl(22, 85%, 97%);

   --primary: hsl(22, 85%, 85%);
   --on-primary: hsl(22, 85%, 10%);
   --light-primary: hsl(22, 85%, 90%);
   --on-light-primary: hsl(22, 42%, 30%);
   --dark-primary: hsl(22, 42%, 10%);
   --on-dark-primary: hsl(22, 42%, 70%);

   --secondary: hsl(36, 68%, 33%);
   --on-secondary: hsl(36, 68%, 82%);
   --light-secondary: hsl(36, 68%, 90%);
   --on-light-secondary: hsl(36, 68%, 30%);

   --tertiary: hsl(112, 28%, 84%);
   --on-tertiary: hsl(112, 28%, 10%);
   --light-tertiary: hsl(112, 28%, 90%);
   --on-light-tertiary: hsl(112, 28%, 30%);
}

* {
   font-family: "Biennale";
   box-sizing: border-box;
   accent-color: var(--secondary);
   -webkit-tap-highlight-color: transparent;
}

::selection {
   background: var(--secondary);
   color: var(--on-secondary);
}

::-webkit-scrollbar-track {
   display: none;
}

::-webkit-scrollbar-button {
   display: none;
}

::-webkit-scrollbar {
   width: 4px;
   height: 4px;
   background: var(--light-primary);
}

::-webkit-scrollbar-thumb {
   background: #000;
}

svg,
img {
   max-width: 100%;
}

/*** layout ***/
body {
   margin: 0;
   padding: 0;
   width: 100vw;
   min-height: 100vh;
   background: var(--background);
   color: var(--on-background);
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background: var(--light-primary);
   color: var(--on-light-primary);
   translate: 0 -100%;

   &.small {
      translate: 0 0;
   }

   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   padding: 8px;
   gap: 8px;
   z-index: 10;
   user-select: none;
   transition: 0.3s;

   form {
      display: none;
   }

   svg {
      width: 40px;
   }

   h1 {
      font-size: 28px;
      font-weight: 700;
   }

   &.hide {
      translate: 0 -100%;
      box-shadow: 0 0 0 #0002;
   }
}

.start {
   article {
      padding: 16px;
      background: var(--light-primary);
      color: var(--on-light-primary);

      .logo {
         text-align: center;
         width: 100%;
         padding: 20px 0;
         position: relative;
         z-index: 1;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         align-items: center;

         &>div {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            svg {
               width: 90%;
               max-width: 180px;
               fill: var(--dark-primary);
            }

            svg:not(.blob) {
               position: relative;
               z-index: 1;
               font-size: 32px;
               font-weight: 900;
            }

            svg.blob {
               scale: 1.2;
               translate: -40px 40px;
               position: absolute;
               fill: var(--primary);
               z-index: 0;
            }
         }
      }

      h2 {
         text-align: center;
         color: var(--dark-primary);
      }
   }

   .wave svg {
      fill: var(--light-primary);
   }

}

@media (max-width: 481px) {
   .start article .logo>h2 {
      display: none;
   }
}

@media (min-width: 480px) {
   .start article .text {
      display: none;
   }
}

.filters {
   width: 100%;
   padding: 20px;
   padding-bottom: 0;
   z-index: 4;
   user-select: none;
   transition: 0.3s;

   form {
      padding: 10px;
      text-align: center;
      transition: 0.3s;
      background: var(--light-primary);
      color: var(--on-light-primary);
      border-radius: 20px;
      border-top: 2px solid var(--light-primary);

      input:not(:checked)::after {
         background: var(--background) !important;
         color: var(--on-background) !important;
      }
   }

   &.small {
      position: sticky;
      top: 70px;
      left: 0;
      padding: 0;
      box-shadow: 0 0px 20px #0002;

      form {
         padding: 5px 0;
         border-radius: 0;
         border-top: 2px solid var(--primary);

         input {
            border-radius: 0;
         }
      }
   }
}

#searchBtn {
   position: fixed;
   top: 8px;
   right: 68px;
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1;
   width: 54px;
   font-size: 23px;
   border-radius: 16px;
   transition: 0.3s;
   padding: 10px;
   cursor: pointer;
   z-index: 11;
   margin: 0;
   border: none;
   background: none;

   &:active {
      scale: 0.9;
      background: var(--primary);
   }

   svg {
      fill: var(--on-light-primary);
   }
}

#searchBox {
   position: fixed;
   top: 8px;
   left: 8px;
   border-radius: 16px;
   z-index: 11;
   display: block;
   opacity: 0;
   scale: 0;
   width: calc(100% - 138px);
   height: 54px;
   transition: 0.3s;

   input {
      background: var(--background);
      color: var(--on-background);
      border: none;
      outline: none;
      height: 100%;
      width: 100%;
      padding: 0 8px;
      border-radius: 16px;
      font-size: 18px;
   }

   &.show {
      opacity: 1;
      scale: 1;
   }

   &:focus {
      scale: 0.9;
      background: var(--secondary);
      color: var(--on-secondary);
   }
}

#menuBtn {
   position: fixed;
   top: 8px;
   right: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1;
   width: 54px;
   font-size: 23px;
   border-radius: 16px;
   transition: 0.3s;
   padding: 8px;
   cursor: pointer;
   z-index: 11;
   margin: 0;
   border: none;
   background: none;

   span {
      display: block;
      width: 32px;
      height: 3px;
      background: var(--on-light-primary);
      ;
      position: absolute;
      overflow: visible;
      transition: 0.3s;
      border-radius: 4px;

      &:nth-child(1) {
         transform: translate(0, -8px);
      }

      &:nth-child(3) {
         transform: translate(0, 8px);
      }
   }

   &:hover {
      span {
         &:nth-child(1) {
            transform: translate(0, -10px);
         }

         &:nth-child(3) {
            transform: translate(0, 10px);
         }
      }
   }

   &:active {
      scale: 0.9;
      background: var(--primary);
   }

   &.show {
      span {
         &:nth-child(1) {
            transform: translateY(0) rotateY(180deg) rotate(45deg);
         }

         &:nth-child(2) {
            transform: rotateY(90deg);
         }

         &:nth-child(3) {
            transform: translateY(0) rotateY(180deg) rotate((-45deg));
         }
      }
   }
}

#menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 0;
   background: var(--light-primary);
   overflow: hidden auto;
   padding: 0 20px;
   z-index: 10;
   transition: 0.5s 1s;

   &::-webkit-scrollbar {
      display: none;
   }

   &.show {
      transition: 0.5s 0s;
      padding-top: 70px;
      height: 100%;
      padding-bottom: 20px;

      .menu-anim {
         animation: show 0.5s var(--d) both;
      }
   }

   &:not(.show) {
      .menu-anim {
         animation: hide 0.5s var(--d) both;
      }
   }

   .list,
   h3,
   .hwr {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 16px;
      transition: 0.3s;

      a {
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background: var(--primary);
         color: var(--on-primary);
         padding: 0 16px;
         border-radius: 20px;
         height: 40px;
         width: 100%;
         max-width: 300px;
         overflow: hidden;
         transition: 0.3s;

         span {
            white-space: nowrap;
         }

         svg {
            width: 24px;
            height: 24px;
         }

         &:hover {
            height: 60px;
         }

         &:active {
            background: var(--secondary);
            color: var(--on-secondary);
         }
      }
   }
}

footer {
   &>div:nth-child(2) {
      background: #000;
      color: var(--primary);
      padding: 16px;
      overflow: hidden;

      h4 {
         margin: 16px 0;
         font-size: 20px;
      }

      address {
         padding: 0;
      }

      .contact {
         .list {
            border-radius: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 8px;
            overflow: hidden;
            transition: 0.3s;

            a {
               flex: 1 0 150px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               background: var(--dark-primary);
               color: var(--on-dark-primary);
               padding: 0 16px;
               border-radius: 8px;
               height: 50px;
               transition: 0.3s;

               svg {
                  width: 24px;
                  height: 24px;
               }

               &:active {
                  background: var(--secondary);
                  color: var(--on-secondary);
               }
            }
         }
      }

      .copyright {
         display: flex;
         flex-flow: column nowrap;
         justify-content: center;
         align-items: center;
         padding: 24px 0;

         &>* {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            gap: 8px;

            svg {
               width: 16px;
               fill: var(--primary);
            }
         }
      }
   }
}

main {
   padding: 20px;
   width: 100%;

   article {
      border-radius: 30px 30px 0 0;
      text-align: center;
      overflow: hidden;
   }

   .wave,
   .waveflip {
      svg {
         fill: var(--light-primary);
      }
   }
}

#list {
   background: var(--light-primary);
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: stretch;
   .item{
      &:hover {
         background: var(--primary);
      }
      flex: 1 0 50%;
      min-width: 240px;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      height: 100px;
      div.profile {
         aspect-ratio: 1;
         height: 100%;

         img {
            width: 100%;
            height: 100%;
            object-fit: caver;
            border-radius: 20px;
            background: var(--primary);
         }
      }
      div.text {
         flex-grow: 1;
         display: flex;
         flex-flow: column nowrap;
         justify-content: center;
         align-items: flex-start;
         .title {
            font-weight: 900;
            font-size: 18px;
         }
         div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .type {
               background: var(--tertiary);
               color: var(--on-tertiary);
               border-radius: 10px;
               padding: 2px 4px;
            }
         }
      }
      gap: 8px;
      padding: 8px;
      border-bottom: 1px solid var(--primary);
      transition: 0.3s;
      cursor: pointer;
   }
}

.next-back {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: stretch;
   height: 50px;
   padding: 8px 0;
   gap: 8px;

   button {
      flex-grow: 1;
      background: var(--dark-primary);
      color: var(--on-dark-primary);
      outline: none;
      border: none;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 900;
      transition: 0.3s;

      &:active {
         scale: 0.9;
      }

      &:disabled {
         opacity: 0.5;
      }
   }
}

/*** UI ***/
input[type="checkbox"].switch {
   appearance: none;
   display: block;
   position: relative;
   width: 50px;
   height: 30px;
   background: var(--light-primary);
   border-radius: 30px;
   margin: 0;

   &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 26px;
      height: 26px;
      border-radius: 26px;
      background: var(--dark-primary);
      top: 2px;
      left: 2px;
      transition: 0.3s;
   }

   &:checked {
      &::after {
         left: 22px;
      }
   }
}

input[type="radio"].chip,
input[type="checkbox"].chip {
   appearance: none;
   margin: 0;
   display: inline-block;
   position: relative;
   border-radius: 30px;

   &::after {
      content: attr(value);
      display: block;
      background: var(--light-primary);
      color: var(--on-light-primary);
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding-inline: 8px;
      border-radius: 20px;
      transition: 0.3s;
   }

   &:checked {
      &::after {
         background: var(--dark-primary);
         color: var(--on-dark-primary);
      }
   }
}

.wave {
   width: 100%;
}

.waveflip {
   width: 100%;
   rotate: 180deg;
}

.fab {
   position: fixed;
   right: 16px;
   bottom: 23px;
   background: var(--tertiary);
   color: var(--on-tertiary);
   border: none;
   outline: none;
   -webkit-box-shadow: 0 5px 10px #0003;
   box-shadow: 0 5px 10px #0003;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   min-width: 64px;
   padding: 0 16px;
   height: 64px;
   z-index: 9;
   border-radius: 20px;
   font-size: 18px;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.fab div {
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   overflow: hidden;
   max-width: 100px;
   white-space: nowrap;
}

.fab svg {
   rotate: -90deg;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 22px;
   height: 22px;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.fab:hover {
   -webkit-box-shadow: 0 20px 30px #0005;
   box-shadow: 0 20px 30px #0005;
}

.fab:active {
   scale: 0.9;
}

.fab.hide {
   opacity: 0;
   scale: 0;
   box-shadow: none;
}

.hwr {
   padding: 20px 0;
   width: 100%;
   text-align: center;

   svg {
      max-width: 280px;
      stroke: var(--primary);
   }
}

dialog {
   width: 80%;
   max-height: 80%;
   &[open]{
      display: flex;
   }
   @media (max-width: 480px){
      flex-flow: column nowrap;
   }
   @media (max-width: 481px){
      flex-flow: row nowrap;
      img{
         max-height: 250px;
      }
   }
   justify-content: space-between;
   align-items: stretch;
   background: var(--background);
   color: var(--on-background);
   border: none;
   outline: none;
   box-shadow: 0 5px 20px #0002;
   border-radius: 30px;
   padding: 0;
   box-sizing: border-box;
   animation: show 0.5s both;
   transition: 0.3s;
   img{
      display: block;
   }
   .text{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: stretch;
      flex-grow: 3;
      padding: 10px;
      .title{
         display: block;
         font-weight: 600;
         font-size: 26px;
         padding: 16px 0;
      }
      .d{
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 8px 0;
         .type{
            background: var(--tertiary);
            color: var(--on-tertiary);
            border-radius: 20px;
            padding: 2px 4px;
         }
      }
   }
   button{
      border: none;
      outline: none;
      width: 100%;
      height: 40px;
      font-size: 18px;
      font-weight: 600;
      border-radius: 30px;
      background: var(--primary);
      color: var(--on-primary);
      transition: 0.3s;
      &:active{
         scale: 0.9;
      }
   }
   &::backdrop{
      transition: 0.3s;
      backdrop-filter: blur(20px);
   }
}

p {
   font-size: 14px;
}

h2 {
   font-size: 38px;
   font-weight: 900;
}

h3 {
   font-size: 32px;
   font-weight: 800;
}

/*** Animation ***/
.waveflip {
   width: 100%;
   rotate: 180deg;
}

@keyframes show {
   from {
      top: 100px;
      opacity: 0;
   }

   to {
      top: 0;
      opacity: 1;
   }
}

@keyframes hide {
   from {
      top: 0;
      opacity: 1;
   }

   to {
      top: -100px;
      opacity: 0;
   }
}