@font-face {
   font-family: "Biennale";
   src: url(font/Biennale.ttf);
}
:host,:root {
   --background: hsl(21, 92%, 95%);
   --on-background: hsl(21deg 92% 15%);
   --surface: hsl(22, 85%, 97%);

   --primary: hsl(22, 85%, 85%);
   --on-primary: hsl(22, 85%, 10%);
   --light-primary: hsl(22, 85%, 90%);
   --on-light-primary: hsl(22, 42%, 30%);
   --dark-primary: hsl(22, 42%, 10%);
   --on-dark-primary: hsl(22, 42%, 70%);

   --secondary: hsl(36, 68%, 33%);
   --on-secondary: hsl(36, 68%, 82%);
   --light-secondary: hsl(36, 68%, 90%);
   --on-light-secondary: hsl(36, 68%, 30%);

   --tertiary: hsl(112, 28%, 84%);
   --on-tertiary: hsl(112, 28%, 10%);
   --light-tertiary: hsl(112, 28%, 90%);
   --on-light-tertiary: hsl(112, 28%, 30%);
}
* {
   font-family: "Biennale";
   box-sizing: border-box;
   accent-color: var(--secondary);
   -webkit-tap-highlight-color: transparent;
}
::selection {
   background: var(--secondary);
   color: var(--on-secondary);
}
::-webkit-scrollbar-track {
   display: none;
}
::-webkit-scrollbar-button {
   display: none;
}
::-webkit-scrollbar {
   width: 4px;
   height: 4px;
   background: var(--light-primary);
}
::-webkit-scrollbar-thumb {
   background: #000;
}
svg,img {
   max-width: 100%;
}
/*** layout ***/
body {
   margin: 0;
   padding: 0;
   width: 100vw;
   min-height: 100vh;
   background: var(--background);
   color: var(--on-background);
}
header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background: var(--light-primary);
   color: var(--on-light-primary);
   box-shadow: 0 0 40px #0001;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 8px;
   padding: 8px;
   z-index: 10;
   user-select: none;
   transition: 0.3s;
   svg {
      width: 40px;
   }
   h1 {
      font-size: 28px;
      font-weight: 700;
   }
   &.hide {
      translate: 0 -100%;
      box-shadow: 0 0 0 #0002;
   }
}
#menuBtn {
   position: fixed;
   top: 8px;
   right: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1;
   width: 50px;
   font-size: 23px;
   border-radius: 16px;
   transition: 0.3s;
   padding: 8px;
   cursor: pointer;
   z-index: 11;
   margin: 0;
   border: none;
   background: none;
   span {
      display: block;
      width: 32px;
      height: 3px;
      background: #000;
      position: absolute;
      overflow: visible;
      transition: 0.3s;
      border-radius: 4px;
      &:nth-child(1) {
         transform: translate(0, -8px);
      }
      &:nth-child(3) {
         transform: translate(0, 8px);
      }
   }
   &:hover {
      span {
         &:nth-child(1) {
            transform: translate(0, -10px);
         }
         &:nth-child(3) {
            transform: translate(0, 10px);
         }
      }
   }
   &:active {
      scale: 0.9;
      background: var(--primary);
   }
   &.show {
      span {
         &:nth-child(1) {
            transform: translateY(0) rotateY(180deg) rotate(45deg);
         }
         &:nth-child(2) {
            transform: rotateY(90deg);
         }
         &:nth-child(3) {
            transform: translateY(0) rotateY(180deg) rotate((-45deg));
         }
      }
   }
}
#menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 0;
   background: var(--light-primary);
   overflow: hidden auto;
   padding: 0 20px;
   z-index: 10;
   transition: 0.5s 1s;
   &.show {
      transition: 0.5s 0s;
      padding-top: 70px;
      height: 100%;
      .menu-anim {
         animation: show 0.5s var(--d) both;
      }
   }
   &:not(.show) {
      .menu-anim {
         animation: hide 0.5s var(--d) both;
      }
   }
   .list,h3,.hwr {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 16px;
      transition: 0.3s;
      a {
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background: var(--primary);
         color: var(--on-primary);
         padding: 0 16px;
         border-radius: 20px;
         height: 40px;
         width: 100%;
         max-width: 300px;
         overflow: hidden;
         transition: 0.3s;
         span {
            white-space: nowrap;
         }
         svg {
            width: 24px;
            height: 24px;
         }
         &:hover {
            height: 60px;
         }
         &:active {
            background: var(--secondary);
            color: var(--on-secondary);
         }
      }
   }
}
footer {
   &>div:nth-child(2) {
      background: #000;
      color: var(--primary);
      padding: 16px;
      overflow: hidden;
      h4 {
         margin: 16px 0;
         font-size: 20px;
      }
      address {
         padding: 0;
      }
      .contact {
         .list {
            border-radius: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 8px;
            overflow: hidden;
            transition: 0.3s;
            a {
               flex: 1 0 150px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               background: var(--dark-primary);
               color: var(--on-dark-primary);
               padding: 0 16px;
               border-radius: 8px;
               height: 50px;
               transition: 0.3s;
               svg {
                  width: 24px;
                  height: 24px;
               }
               &:active {
                  background: var(--secondary);
                  color: var(--on-secondary);
               }
            }
         }
      }
      .copyright {
         display: flex;
         flex-flow: column nowrap;
         justify-content: center;
         align-items: center;
         padding: 24px 0;
         &>* {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            gap: 8px;
            svg {
               width: 16px;
               fill: var(--primary);
            }
         }
      }
   }
}
main{
   article{
      padding: 16px;
      background: var(--light-primary);
      .container{
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
         gap: 10px;
         padding: 10px;
         transition: 0.3s;
         background: var(--primary);
         border-radius: 30px;
         .card{
            aspect-ratio: 3/5;
            max-width: 180px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: stretch;
            border-radius: 20px;
            position: relative;
            background: var(--background);
            color: var(--on-background);
            overflow: hidden;
            box-shadow: 0px 5px 5px #0002;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            &>*{
               position: relative;
               z-index: 1;
            }
            &:hover{
               box-shadow: 0px 10px 20px #0005;
            }
            &:active{
               scale: 0.9;
            }
            &::after{
               content: "";
               display: block;
               position: absolute;
               bottom: -20px;
               right: -20px;
               width: 100px;
               height: 100px;
               background: var(--light-primary);
               z-index: 0;
               mask-size: contain;
               mask-position: center;
               mask-repeat: no-repeat;
               mask-image: url(shape/snow.svg);
               -webkit-mask-size: contain;
               -webkit-mask-position: center;
               -webkit-mask-repeat: no-repeat;
               -webkit-mask-image: url(shape/snow.svg);
            }
            img{
               aspect-ratio: 1;
               object-fit: caver;
            }
            h4{
               margin: 0;
               padding: 8px 16px;
               text-align: left;
               font-size: 20px;
               font-weight: 900;
            }
            p{
               text-align: left;
               text-overflow: ellipsis;
               overflow: hidden;
               display: block;
               width: 100%;
               font-size: 14px;
               padding: 0 16px;
               max-height: 0;
               overflow: hidden auto;
            }
            div{
               display: flex;
               flex-flow: row nowrap;
               justify-content: space-between;
               align-items: center;
               padding: 8px 8px;
               .type{
                  background: var(--tertiary);
                  color: var(--on-tertiary);
                  border-radius: 20px;
                  padding: 0 8px;
               }
            }
         }
      }
   }
   .wave,.waveflip{
      svg{
         fill: var(--light-primary);
      }
   }
}
/*** UI ***/
.wave {
   width: 100%;
}
.waveflip {
   width: 100%;
   rotate: 180deg;
}
.hwr {
   padding: 20px 0;
   width: 100%;
   text-align: center;
   svg {
      max-width: 280px;
      stroke: var(--primary);
   }
}
p{
   font-size: 14px;
}
h2{
   font-size: 38px;
   font-weight: 900;
}
h3{
   font-size: 32px;
   font-weight: 800;
}
/*** Animation ***/
.scrollAnim {
   top: 100px;
   opacity: 0;
   position: relative !important;
   &.showAnim {
      animation: show 1s 0.5s both;
   }
}
@keyframes show {
   from {
      top: 100px;
      opacity: 0;
   }
   to {
      top: 0;
      opacity: 1;
   }
}
@keyframes hide {
   from {
      top: 0;
      opacity: 1;
   }
   to {
      top: -100px;
      opacity: 0;
   }
}